data/cifar-10-batches-py
data/CIFAR-10-C
data/cifar10_pytorch
data/CIFAR-10-C.tar
data/cifar-10-python.tar.gz
data/cifar-10-c-images
models

data/imagenet
*.JPEG
transformed_data
finetune_bootstrap
utils/image-quality-tools
