.idea/
cifar10_data
cifar10_c_data
cifar-10-batches-py
cifar-10-python.tar.gz
.vscode
verifying/bootstrap_output/
*.pyc
verifying/cifar-10-python.tar.gz
verifying/cifar10c_bootstrap_output
*.pt
jobs
finished_jobs
bootstrap_data
bootstrap_data_c
.DS_Store
*.pth*
